.navbartop {
  margin-bottom: 20px;
}

.profilepic {
  float: left;
  width: 150px;
}

.connect {
  text-align: center;
}

.footer {
  background-color: #666666;
  color: #cccccc;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  border-top: #4aaaa5 8px solid;
}

.rightbox {
  height: 190px;
}

.footer a {
  margin: 0 auto;
}